main {
  .game-board {
    margin-top: 1rem;
  }

  .game-row {
    height: 20vh;
  }

  .game-col {
    border: 1px solid black;
  }

  .color-box {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  .upper-row {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .middle-row {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .lower-row {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0.5px solid black;
  }

  .violet {
    background-color: $violet-color;
  }

  .pink {
    background-color: $pink-color;
  }

  .red {
    background-color: $red-color;
  }

  .yellow {
    background-color: $yellow-color;
  }

  .green {
    background-color: $green-color;
  }

  .cyan {
    background-color: $cyan-color;
  }

  .disabled {
    background-color: $disabled-color;
    opacity: 1;
  }

  .game-end-message {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .start-again-button {
      background-color: $start-again-color;
      border: none;
    }

    .start-again-button:hover {
      background-color: $start-again-hover-color;
    }
  }

  .hidden {
    display: none;
  }
}
